.title-image {
      vertical-align: middle;

  }

  .list{
  background-color: transparent;
  }

  input{
   background-color: transparent;
   }

.list .item, .list .item-complex .item-content {
  background: rgba(255,255,255,0);
}